
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ПК-Магазин</title>
    <style>
        .fig {
            text-align: center;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container text-center">
    <h1>Добро Пожаловать В Онлайн-Магазин ПК-Комплектующих</h1>
    <p>Просмотрите наши товары</p>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Домашняя страница</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
                <li><a href="/products">Товары</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
                <li><a href="/products-admin">Управление товарами</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </div>
    </div>
</nav>
<p class="fig"><img src="https://topsto-crimea.ru/images/companies/1/santeh/PersonalComputer-1.jpg?1564659341960"></p>
</body>
</html>
