<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Товары</title>
</head>
<body>
<div th:switch="${products}">
    <h2 th:case="null">Товары не найдены!</h2>
    <div th:case="*">
        <h2>Товары</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}"></td>
                <td th:text="${product.product_name}"></td>
                <td th:text="${product.product_price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>